.paginationControls {
    position: absolute;
    left: 825px;
    top: 1125px;
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    background-color: blue;
    padding: 8px 12px;
    margin-top: 0;
}

.pageSpan {
    padding: 2px 8px;
}